-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "participants" (
    "id" SERIAL NOT NULL,
    "full_name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "organization" TEXT,
    "job_title" TEXT,
    "experience_level" TEXT,
    "training_session" TEXT NOT NULL,
    "expectations" TEXT,
    "referral_source" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "participants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "feedback" (
    "id" SERIAL NOT NULL,
    "participant_name" TEXT NOT NULL,
    "participant_email" TEXT NOT NULL,
    "training_session" TEXT NOT NULL,
    "overall_rating" INTEGER NOT NULL,
    "content_rating" INTEGER NOT NULL,
    "instructor_rating" INTEGER NOT NULL,
    "pace_rating" TEXT NOT NULL,
    "most_valuable" TEXT,
    "least_valuable" TEXT,
    "improvement_suggestions" TEXT,
    "would_recommend" TEXT NOT NULL,
    "additional_comments" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "feedback_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "certificate_history" (
    "id" SERIAL NOT NULL,
    "certificate_id" TEXT NOT NULL,
    "user_email" TEXT NOT NULL,
    "user_name" TEXT NOT NULL,
    "training_session" TEXT NOT NULL,
    "completion_date" TEXT NOT NULL,
    "instructor_name" TEXT NOT NULL,
    "filename" TEXT NOT NULL,
    "pdf_base64" TEXT NOT NULL,
    "download_count" INTEGER NOT NULL DEFAULT 1,
    "generated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "certificate_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "events" (
    "id" SERIAL NOT NULL,
    "user_email" TEXT NOT NULL,
    "event_name" TEXT NOT NULL,
    "metadata" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "events_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "certificate_history_certificate_id_key" ON "certificate_history"("certificate_id");

-- CreateIndex
CREATE INDEX "certificate_history_user_email_idx" ON "certificate_history"("user_email");

-- CreateIndex
CREATE UNIQUE INDEX "certificate_history_user_email_training_session_key" ON "certificate_history"("user_email", "training_session");

-- CreateIndex
CREATE INDEX "events_user_email_idx" ON "events"("user_email");

-- CreateIndex
CREATE INDEX "events_event_name_idx" ON "events"("event_name");

-- CreateIndex
CREATE INDEX "events_created_at_idx" ON "events"("created_at");

